In [7]:
import pandas as pd
block = pd.read_clipboard(sep='\t')
block

                       1 2305/0800
0                   2 6458N/04000E
1                          4 320/3
2                          5 320/1
3               31 272.978/127.153
4                   43 Архангельск
5                     26 1805/0045
6  27 По указанию от судовладельца
7                           100 –

In [15]:
block.T.reset_index().values[0][0].split()

['1', '2305/0800']

,index,0,1,2,3,4,5,6,7
0,1 2305/0800,"Index(['1 2305/0800'], dtype='object')",4 320/3,5 320/1,31 272.978/127.153,43 Архангельск,26 1805/0045,27 По указанию от судовладельца,100 –

In [32]:
df = df._append(block.T, ignore_index=False)

In [35]:
df.iloc[0, :].values

array(['2 6458N/04000E', '4 320/12', '5 320/2', '31 275.608/132.153',
       '43 Архангельск', '26 1805/0045',
       '27 По указанию от судовладельца', '100 – ', nan, nan, nan, nan,
       nan, nan, nan, nan, nan], dtype=object)

In [ ]:
for