In [11]:
import pandas as pd
block = pd.read_clipboard(sep='\t')
block

                                         1 2605/0800
0                                     2 6445N/04030E
1                                            4 300/8
2                                              5 0/0
3                                       26 2105/1825
4                                             27 ТВА
5                                      31 88,3/137,4
6                                     43 Архангельск
7                                      100 Груза нет
8  Установка береговыми специалистами видеокамер ...

In [12]:
COLUMN_NAMES = [l for l in range(1, 102)]
df = pd.DataFrame(columns=COLUMN_NAMES, index=[0])
df

In [13]:
block.T.reset_index().values[0][0]

['1', '2605/0800']

In [15]:
block.T.reset_index().values

array([['1 2605/0800', '2 6445N/04030E', '4 300/8', '5 0/0',
        '26 2105/1825', '27 ТВА', '31 88,3/137,4', '43 Архангельск',
        '100 Груза нет',
        'Установка береговыми специалистами видеокамер согласно Транспортной безопасности ']],
      dtype=object)

In [30]:
df = df._append(block.T.reset_index().values)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [21]:
df.iloc[0, :].values

array(['2 6445N/04030E', '4 300/8', '5 0/0', '26 2105/1825', '27 ТВА',
       '31 88,3/137,4', '43 Архангельск', '100 Груза нет',
       'Установка береговыми специалистами видеокамер согласно Транспортной безопасности ',
       nan], dtype=object)

,1,2,3,4,5,6,7,8,9,10,...,92,93,94,95,96,97,98,99,100,101
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN