In [11]:
import pandas as pd
from clip_func import clip
import pickle

In [12]:
file_path = r'/home/mike-pi/Documents/coding/projects/disp/data/daily_list.pkl'

In [13]:
daily_list = pickle.load(open('/home/mike-pi/Documents/coding/projects/disp/data/daily_list.pkl', 'rb'))

In [14]:
df_1 = clip()

In [15]:
df_1

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,«СП Дудинка»,2505/0800,6458N/04000E,NaN,040/9,040/1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,–,NaN,05/04-2024,Капитан Корнилов Н.В.

In [16]:
df_1.iloc[0, 102]

'05/04-2024'

In [17]:
daily_list.append(df_1.values.tolist()[0])

In [18]:
df_1.values

array([['«СП Дудинка»', '2505/0800', '6458N/04000E', nan, '040/9',
        '040/1', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, '1805/0045',
        'По указанию от судовладельца', nan, nan, nan, '271.478/122.853',
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        'Архангельск', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, '–', nan, '05/04-2024',
        'Капитан Корнилов Н.В.']], dtype=object)

In [19]:
len(daily_list)

36

In [20]:
pickle.dump(daily_list, open(file_path, 'wb'))

In [21]:
pd.DataFrame(daily_list).to_csv('/home/mike-pi/Documents/coding/projects/disp/data/daily_cum.csv', index=False)