In [52]:
import pandas as pd
from clip_func import clip
import pickle

In [53]:
file_path = r'/home/mike-pi/Documents/coding/projects/disp/data/daily_list.pkl'

In [54]:
daily_list = pickle.load(open('/home/mike-pi/Documents/coding/projects/disp/data/daily_list.pkl', 'rb'))

In [55]:
daily_list

[['СП Дудинка',
  '1305/0800',
  '7046N/08229E',
  nan,
  '070/7',
  'нет',
  '017/8.4',
  '22/0',
  '7',
  '1105/0345/1405 p.m.',
  '203',
  '1236',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  '363.314/148.253',
  '26112.230',
  nan,
  nan,
  nan,
  '215',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  'Архангельск',
  '1705/2300 МСК',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  'МЖ 1405/0800',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  'ЕТА Архангельск – 1705/23.00 МКС (с дальнейшим уточнением)',
  nan,
  '01/04-2024',
  'NNNN'],
 ['СП Диксон',
  '2305/0800',
  '6445N/04030E',
  nan,
  '270/3',
  '0/0',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  '2105/1825',
  'ТВА',
  nan,
  nan,
  nan,
  '91,8/142,5',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  'Архангельск',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  'Груза нет',
  nan,
  '05/02',
  '       2205/1705 Сдано на т/к «Кама»: шлам=21,5 м3, грязное масло=1,4 м3.']]

In [56]:
df_1 = clip()

In [57]:
df_1

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,СП Диксон,1405/0800,7042N/04555E,NaN,260/6,290/1,"210/12,6",19/0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,В балласте,NaN,01/01,NNNN

In [58]:
daily_list.append(df_1.values.tolist()[0])

In [59]:
len(daily_list)

3

In [60]:
pickle.dump(daily_list, open(file_path, 'wb'))

In [61]:
pd.DataFrame(daily_list).to_csv('/home/mike-pi/Documents/coding/projects/disp/data/daily_cum.csv', index=False)