In [16]:
import pandas as pd

In [17]:
block = pd.read_clipboard(sep='\t')

COLUMN_NAMES = [l for l in range(0, 104)]
df = pd.DataFrame(columns=COLUMN_NAMES, index=[0])

list_data = block.T.reset_index().values

for i in range(len(list_data[0])):
    if list_data[0][i].split()[0].isdigit():
        df.iloc[0, int(list_data[0][i].split()[0])] = ' '.join(list_data[0][i].split()[1:][:])
    elif list_data[0][i].split()[0] == 'т/к':
        df.iloc[0, 0] = list_data[0][i][4:]
    elif list_data[0][i].split()[0].lower() == 'дисп':
        df.iloc[0, 102] = list_data[0][i].split()[1]
    else:
        df.iloc[0, 103] = list_data[0][i]

In [18]:
df

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
0,«СП Дудинка»,2505/0800,6458N/04000E,NaN,040/9,040/1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,–,NaN,05/04-2024,Капитан Корнилов Н.В.